<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleIndex.css">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="macaco.svg" type="image/x-icon">
    <title>Munkee Notes</title>
 </head>
 <body>
    <div id="general">
        <div id="top">
        <div id="text">
            <div id="header">
                <h1 id="title">Munkee Notes</h1> 
            </div>
            <div id="content">
                <h2 id="subtitle">Anote de forma mais organizada e dinâmica</h2>
            </div>
        </div>
        <div id="image">
          <img src="../macaco.svg"  alt="munkee">
        </div>
    </div>
    <div id="bottom"> 
        <div id="buttons">
            <a href="/users/signup"><button class="btn">Cadatre-se</button></a>
            <a href="/users/login"><button class="btn">Entrar</button></a>
        </div>
           <p id="credits"> Ícones feitos por <a href="https://www.flaticon.com/br/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/br/" title="Flaticon"> www.flaticon.com</a></p>
    </div>
      
    </div> 
</html>