*{
    margin: 0;
}

html{
    overflow-x: hidden;
}

body{
    margin: 0 auto;
    background: #f0d389;
    display: grid;
    max-height: 100vh;
    grid-template-rows: 0.1fr 1fr;
}

a{
    text-decoration: none;
}

#header{
    display: grid;
    position: fixed;
    grid-template-columns: 10fr 1fr 1fr;
    align-items: center;
    width: 100vw;
    height: 13vh;
    background: rgb(236, 128, 88);
}

#title{
    padding-left: 2rem;
    display: flex;
    color: white;
    font-size: 1.2rem;
    font-family: "Comic Neue";
}
#monkey{
    width:  2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}
#noteList{
    margin-top: 15vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#footer{
    position: fixed;
    display: flex;
    top: 92vh;
    width: 100vw;
    height: 8vh;
    font-size: 1.2rem;
    font-family: "Comic Neue";
    color: white;
    background-color: rgb(236, 128, 88);
}

#page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numbers{
    display: flex;
    align-items: center;
    justify-content: center;
}
.number{
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    height: 1.7rem;
    width: 1.7rem;
    background-color: #f84747;
    text-decoration: none;
    color: white;
}

#exit{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f84747;
    border-radius: 0.8rem;
    border: none;
    padding: 0.3rem;
    margin: 1rem;
}

#exit > a{
    color: white;
    font-size: 1.1rem;
    padding: 1.5rem;
}

#profileImage{

    background-color: white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

}

#profileImage > a > img{
    
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    
}

.nav-class{
    width: 100vw;
    height: 1.5vw;
    margin-top: 84vh;
    position: fixed;
    background: #ff5656;
    color: white;
    padding: 1rem;
    font-size: 1.1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.card{
    background:  rgb(231, 155, 128);
    margin: 2rem 2rem 4rem 2rem;
    width: 15rem;
    height: 20.3rem;
    border-radius: 0.5rem;
}

.card > textarea{
    padding: 1rem;
    border: none;
    resize: none;
    width: 13rem;
    height: 12rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Comic Neue";
}

.card > select{
    margin-left: 0.6rem;
    border-radius: 0.3rem;
    width: 4rem;
    border: none;
    height: 2rem;
    margin-bottom: 0.7rem;
}

.card > button{
    color: white;
    background: rgb(35, 175, 35);
    font-size: 14px;
    border-radius: 0.3rem;
    margin: 0.3rem;
    border: none;
    width: 4rem;
    height: 2rem;
}


.card > a{
    color: white;
    background: rgb(243, 65, 59);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 0.3rem;
    font-size: 14px;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    border: none;
}

.card > p{
    font-family: "Comic Neue";
    margin: 0.6rem;
}

.notSaved{
    height: 17rem;
}

.notSaved > select{
    width: 5rem;
}

.notSaved > textarea{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}


.add{
    margin: 2.3rem 3rem 5rem 2rem;
    background:  rgb(255, 233, 107);
    width: 15rem;
    height: 19.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.5rem;
  
}

.add > img{
    width: 11rem;
    height: 11rem;
}

.submitButton{
    font-size: 0.95rem;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #88ce33;
    width: 9rem;
    height: 3rem;
    position: fixed;
    border: none;
    border-radius: 0.8rem;
    opacity: 80%;
    left: 85%;
    top: 78%;
}

